server:
  port: 9999

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8080
          predicates:
            - Path: /identity/**
        - id: profile-service
          uri: http://localhost:8081
          predicates:
            - Path: /profile/**
